
/* Accordion */
body {
    background-color: rgb(29, 27, 27);
}


.accordion {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.quest {
    margin-top: 140px;
    font-size: 40px;
    text-align: center;
    font-family: 'Abril Fatface'cursive;
    color: rgb(233, 10, 10);
    animation: glow 1s ease-in-out infinite alternate;
      }
 
.container {
    margin-top: 20px;
    background-color: rgb(197, 100, 100);
    cursor: pointer;
    padding: 18px;
    width: 900px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 25px;
    border: 2px solid #b4011f;
}


@-webkit-keyframes glow {
   from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
        
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    } 
}

.accordion-title{
    font-family: 'Abril Fatface', cursive;
    font-weight: bold;
    font-size: 20px;
    position: relative;
}

.accordion-description {
   display: flex;
   position: relative;
   width: 100%;
   justify-content: center;
   font-size: 18px;
   align-items: center;
   height: 0;
   overflow: hidden;
   transition: height 2s;
}


.accordion-title::before {
    font-family: FontAwesome;
    content: '\f078';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    

}

.container.active .accordion-description {
    height: 150px;
}

.container.active .accordion-title::before {
    font-family: FontAwesome;
    content: '\f077';
    font-size: 30px;
    font-weight: bold;

}

.container:hover{
    border: solid;
    border-color: rgb(255, 0, 0);
    box-shadow:5px 10px 8px #b4011f;
}


/* Navbar */
.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: rgb(197, 100, 100);
    padding: 20px;
    position: relative;
    
}

ul {
    display: flex;

}

.li-list {
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
}

.a {
    color: #b4011f;
}

/* Burger Icon */

.toggle-button{
    position: absolute;
    top: 8px;
    right: 15px;
    font-size: 25px;
    display: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3  {
    width: 35px;
    height: 5px;
    background-color:#b4011f;
    margin: 6px 0;
    transition: 0.4s;
}


@media (max-width: 768px) {
    .toggle-button {
        display: block;
    }
    .nav-bar {
        display: none;
    }
    .navbar-wrapper {
        flex-direction: column;
    }
    ul {
        flex-direction: column;
        align-items: center;
    }
    .nav-bar.activeNavigation {
        display: block;
    }
    
    .bar1.up {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .bar2.middle {opacity: 0;}

    .bar3.down {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    
}











